{% load staticfiles %}
{% include 'check_logstate.html' %}
<link rel="stylesheet" type="text/css" href="{% static 'css/carModel.css' %}" />
<div id="carModel_EditDiv">
	<form id="carModelModifyForm" enctype="multipart/form-data"  method="post">
        {% csrf_token %}
		<div>
			<span class="label">车型id:</span>
			<span class="inputControl">
				<input class="textbox" type="text" id="carModel_modelId_modify" name="carModel.modelId" value="{{ modelId }}" style="width:200px" />
			</span>
		</div>

		<div>
			<span class="label">车型名称:</span>
			<span class="inputControl">
				<input class="textbox" type="text" id="carModel_modelName_modify" name="carModel.modelName" style="width:200px" />

			</span>

		</div>
		<div class="operation">
			<a id="carModelModifyButton" class="easyui-linkbutton">更新</a> 
		</div>
	</form>
</div>
<script src="{% static 'js/CarModel/carModel_modify.js' %}"></script>
