{% load staticfiles %}
{% include 'check_logstate.html' %}
<link rel="stylesheet" type="text/css" href="{% static 'css/car.css' %}" />
<div id="car_EditDiv">
	<form id="carModifyForm" enctype="multipart/form-data"  method="post">
        {% csrf_token %}
		<div>
			<span class="label">车辆id:</span>
			<span class="inputControl">
				<input class="textbox" type="text" id="car_carId_modify" name="car.carId" value="{{ carId }}" style="width:200px" />
			</span>
		</div>

		<div>
			<span class="label">车牌:</span>
			<span class="inputControl">
				<input class="textbox" type="text" id="car_carNo_modify" name="car.carNo" style="width:200px" />

			</span>

		</div>
		<div>
			<span class="label">车型:</span>
			<span class="inputControl">
				<input class="textbox"  id="car_carModelObj_modelId_modify" name="car.carModelObj.modelId" style="width: auto"/>
			</span>
		</div>
		<div>
			<span class="label">品牌:</span>
			<span class="inputControl">
				<input class="textbox" type="text" id="car_pinpai_modify" name="car.pinpai" style="width:200px" />

			</span>

		</div>
		<div>
			<span class="label">车辆照片:</span>
			<span class="inputControl">
				<img id="car_carPhotoImgMod" width="200px" border="0px"/><br/>
				<input id="car_carPhotoMod" name="car.carPhoto" type="file" size="50" />
			</span>
		</div>
		<div>
			<span class="label">油型:</span>
			<span class="inputControl">
				<input class="textbox" type="text" id="car_youxing_modify" name="car.youxing" style="width:200px" />

			</span>

		</div>
		<div>
			<span class="label">耗油量:</span>
			<span class="inputControl">
				<input class="textbox" type="text" id="car_haoyouliang_modify" name="car.haoyouliang" style="width:200px" />

			</span>

		</div>
		<div>
			<span class="label">车险日期:</span>
			<span class="inputControl">
				<input class="textbox" type="text" id="car_chexianriqi_modify" name="car.chexianriqi" />

			</span>

		</div>
		<div>
			<span class="label">总里程:</span>
			<span class="inputControl">
				<input class="textbox" type="text" id="car_zonglicheng_modify" name="car.zonglicheng" style="width:200px" />

			</span>

		</div>
		<div>
			<span class="label">车辆详情:</span>
			<span class="inputControl">
				<textarea id="car_carDesc_modify" name="car.carDesc" type="text/plain"   style="width:750px;height:500px;"></textarea>

			</span>

		</div>
		<div>
			<span class="label">所属用户:</span>
			<span class="inputControl">
				<input class="textbox"  id="car_userObj_user_name_modify" name="car.userObj.user_name" style="width: auto"/>
			</span>
		</div>
		<div>
			<span class="label">登记时间:</span>
			<span class="inputControl">
				<input class="textbox" type="text" id="car_addTime_modify" name="car.addTime" />

			</span>

		</div>
		<div class="operation">
			<a id="carModifyButton" class="easyui-linkbutton">更新</a> 
		</div>
	</form>
</div>
<script src="{% static 'js/Car/car_modify.js' %}"></script>
